 /* custom CSS style rules*/
 body {
    /* background: #2ecc71; */
    height: 100%;
    background: greenyellow
}

/* CSS ID Selector Styles (unique ids) */

#title {
    position: absolute;
    top: 8px;
    right: 50px;
    width: auto;
    margin: auto;
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: rgba(256, 256, 256, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#infoButton {
    position: absolute;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    /* letter-spacing: .04em; */
    color: #3d3d3d;
    /* padding: 1px 1px; */
    top: 105px;
    right: 10px;
    z-index: 1000;
    /*can't place button over map without z index default z index is 0, 1000 is higher than all other panes*/
    border-radius: 2px;
    border: 1px solid #aaa;
    background: rgba(256, 256, 256, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

/* #infoPanel{
    display: 'none';
} */
/* #infoPanel {
    background: 'blue';
    overflow: hidden;
    overflow-y: scroll;
} */

h1 {
    color: black;
}

/* CSS Class Selector Styling for group elements */

/* currently applies to map overlay opacity slider */
.map-overlay {
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 12%;
    /* bottom: -100px; */
    /* padding: 10px; */
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 10px;
}

.map-overlay label {
    display: block;
    margin: 0 0 5px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

/* Small devices (landscape phones, 576px and up) */
/* for 50/50 split vertical top/bottom */
@media (min-width: 300px) {
    #displayContainer {
        height: 100vh;
    }
    
    #map {
        position: absolute;
        top: 0;
        width: 100vw ;
        height: 50vh;
        background: pink; 
    }
    
    #map2{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 50vh;
        background: #448ee4; 
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 740px) {
    /* for 50/50 split horizontal left/right */
#displayContainer {
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50% ;
    height: 100%;
    background: #448ee4; 
}

#map2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #448ee4; 
}
} 


/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {} */ 
