 /* custom CSS style rules*/
 body {
    /* background: #2ecc71; */
    height: 100%;
    background: greenyellow
}

/* CSS ID Selector Styles (unique ids) */

/* #title {
    position: absolute;
    top: 8px;
    right: 50px;
    width: auto;
    margin: auto;
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: rgba(256, 256, 256, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
} */

/* old infobutton styling prior to navbar */
/* #infoButton { */
    /* position: absolute;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; */
    /* letter-spacing: .04em; */
    /* color: #3d3d3d; */
    /* padding: 1px 1px; */
    /* top: 105px;
    right: 10px;
    z-index: 1000; */
    /*can't place button over map without z index default z index is 0, 1000 is higher than all other panes*/
    /* border-radius: 2px;
    border: 1px solid #aaa;
    background: rgba(256, 256, 256, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); */
/* } */

#infoPanel{
    display: 'none';
} 
/* #infoPanel {
    background: 'blue';
    overflow: hidden;
    overflow-y: scroll;
} */

/* specific navbar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  li a:hover, .dropdown:hover

  li.dropdown{
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: blue;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content a:hover {background-color: purple;}
  .dropdown:hover .dropdown-content{
      display: block;
  }

h1 {
    color: black;
    text-align: right;
    text-shadow: 2px 2px 5px red;
}

h2 {
    color: white;
    text-align: right;
    text-shadow: 2px 2px 5px black;
}

/* CSS Class Selector Styling for group elements */

/* currently applies to map overlay opacity slider */
.map-overlay {
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 12%;
    /* bottom: -100px; */
    /* padding: 10px; */
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 10px;
}

.map-overlay label {
    display: block;
    margin: 0 0 5px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}


  /* Modify brand and text color */
  

/* Small devices (landscape phones, 576px and up) */
/* for 50/50 split vertical top/bottom */
@media (min-width: 300px) {
    #displayContainer {
        height: 100%;
    }
    
    #map {
        position: absolute;
        top: 0;
        width: 100vw ;
        height: 50vh;
        background: pink; 
         z-index: -1;
    }
    
    #map2{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 50vh;
        background: #448ee4; 
         z-index: -1;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 740px) {
    /* for 50/50 split horizontal left/right */
#displayContainer {
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50% ;
    height: 100%;
    background: #448ee4; 
    z-index: -1;
}

#map2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #448ee4; 
    z-index: -1;
}
} 


/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {} */ 
